@import '../../styles/layout/fonts';
@import '../../styles/layout/colors';
@import '../../styles/layout/mixins';

.container {
  @include flexCol;
  position: relative;

  &--iconLeft {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0%, -50%);
  }
}

.label {
  font-size: 0.9rem;
  margin-bottom: .3rem;
}

.input {
  border-radius: 8px;
  border: 1px solid $pearlBush;
  height: 40px;
  padding-left: 0.9rem;
  font-size: 1rem;

  &--withIconLeft {
    padding-left: 3rem;
  }

  &--error {
    border-color: $danger;
  }

  &:focus {
    border-color: $secondary;
    outline: none;
  }
}

.error {
  font-size: 0.85rem;
  margin-top: .5rem;
  color: $danger;
}
