@import '../../styles/layout/fonts';
@import '../../styles/layout/colors';
@import '../../styles/layout/mixins';

.container {
  @include flexCol;
}

.label {
  font-size: 0.9rem;
  margin-bottom: .3rem;
}

.iconLeft {
  margin-left: 1rem;
}

.select {
  border-radius: 8px;
  border: 1px solid $pearlBush;
  height: 40px;
  font-size: 1rem;

  &--error {
    border-color: $danger;
  }

  &:focus {
    border-color: $secondary;
    outline: none;
  }
}

.error {
  font-size: 0.85rem;
  margin-top: .5rem;
  color: $danger;
}
