@import '../../styles/layout/colors';
@import '../../styles/layout/mixins';

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &--logged {
    height: calc(100% - 50px);
  }

  &--fullMobile {
    @include untilMD { 
      padding: 0;
    }
  }

  background-color: $primary;
  background-image: linear-gradient(315deg, $primary 0%, $secondary 74%);
}

.box {
  @include flexCol;
  border-radius: 30px;
  padding: 1rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: $ecruWhite;
  min-height: 0;

  &--fullMobile {
    @include untilMD { 
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }
  
  @include fromMD {
    min-width: 500px;
    width: auto;
    height: 80%;
    padding: 2rem;
  }
}
