@import '../../styles/layout/colors';
@import '../../styles/layout/mixins';

.container { 
  & > :not(:last-child) {
    @include fromMD {
      margin-bottom: 3rem;
    }
  }
}

.description {
  overflow-wrap: break-word;
  inline-size: 100%;
  line-height: 24px;
  
  @include fromMD {
    inline-size: 420px;
  }
}

.hint {
  color: $primary;
}