$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin fromSM {
  @media only screen and (min-width: $sm) {
      @content;
  }
}

@mixin fromMD {
  @media only screen and (min-width: $md) {
      @content;
  }
}

@mixin untilMD {
  @media only screen and (max-width: $md) {
      @content;
  }
}

@mixin fromLG {
  @media only screen and (min-width: $lg) {
      @content;
  }
}

@mixin fromXL {
  @media only screen and (min-width: $xl) {
      @content;
  }
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin spaceChildrenMD {
  & > :not(:last-child) {
    margin-bottom: 1rem;
  }
}