@import './layout/mixins';

.container {
  @include flexCol;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.form {
  @include flexCol;
  flex: 1;
  width: 100%;
  margin-top: 1rem;
}

.mbMedium {
  margin-bottom: 1.5rem;
}

.inputWrapper {
  @include flexCol;

  @include spaceChildrenMD;

  margin-bottom: 2rem;
}

$avartMobile: 100px;
$avartDesktop: 150px;

.avatar {
  width: $avartMobile;
  height: $avartMobile;
  min-width: $avartMobile;
  min-height: $avartMobile;
  border-radius: 20px;

  @include fromMD {
    width: $avartDesktop;
    height: $avartDesktop;
    min-width: $avartDesktop;
    min-height: $avartDesktop;
  }
}
